dist: focal
language: generic
os: linux

services:
  - docker

before_install:
  - docker build -t wandrewjam/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true wandrewjam/react-test npm test

after_success:
  - docker build -t wandrewjam/multi-client ./client
  - docker build -t wandrewjam/multi-nginx ./nginx
  - docker build -t wandrewjam/multi-server ./server
  - docker build -t wandrewjam/multi-worker ./worker
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  - docker push wandrewjam/multi-client
  - docker push wandrewjam/multi-nginx
  - docker push wandrewjam/multi-server
  - docker push wandrewjam/multi-worker

deploy:
  provider: elasticbeanstalk
  region: us-east-1
  app: multi-docker
  env: MultiDocker-env
  bucket_name: elasticbeanstalk-us-east-1-732898684149
  bucket_path: docker-multi
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
